@page "/contact"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h1 class="mb-4">Contacto</h1>
            <p class="mb-5">
                Mi manera preferia de contacto es via e-mail con confianza respondere alrededor de 24h.
            </p>
            <a href="mailto:juanv91.cv@gmail.com" class="h3">juanv91.cv@gmail.com</a>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />