@page "/skills"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Habilidades</h1>

            <p>A continucacion se presentan mis habilidades aplicadas en proyectos y experiencia laboral.</p>

            <div class="row mt-4">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/CSharp.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">Programacion C#.</h3>

                            <p class="card-text">
                                Experiencia en el desarrollo software con el lenguaje C# con el cual se desarrollaron 
                                aplicaciones TPV, paginas web basadas en el ecosistema .NET y codigo de logica
                                para videojuegos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Soporte.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">Soporte Tecnico.</h3>

                            <p class="card-text">
                                Experiencia laboral en soporte tecnico, help desk atencion por medio de tickets, atencion a clientes
                                 reparacion y administracion de hardware y software, capacitacion a cliente para el uso adecuado de equipo
                                 de computacion, elaboracion de calendario para mantenimiento preventivo y correctivo.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Director.png" class="card-img-top" alt="Skill card thumbnail image" />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">Director de proyectos de TI.</h3>
                            <p class="card-text">
                                Diseñar proyectos desde cero para empresas pequeñas que desean implementar soluciones de TI para su empresa
                                lo cual abarca la resolucion de problemas como lo son puntos de venta, facturacion , almacenamiento en la nube
                                estructura de la red, aplicacion de CCTV y demandas del mundo moderno.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-3">

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/Armado.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Armado de PC, Servidores y Redes</h3>
                            <p class="card-text">
                                Soluciones para el ensamble de equipos de computo de alto rendimiento, manejo de hardware de servidores,
                                cableado estructurado para cualquier situacion y elaboracion de red interna de negocios.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/ISP.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Tecnico Instalador de Internet</h3>
                            <p class="card-text">
                                Trabaje con la red de Telmex en la instalacion de internet a lugares domesticos y comerciales manejando cableado de 
                                cobre asi como fibra optica dando servicio al cliente desde la contratacion hasta la instalacion del servicio.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/game.png" class="card-img-top" alt="Skill card thumbnail image" />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Diseño de videojuegos</h3>
                            <p class="card-text">
                                Manejo creativo para la creacion interactiva de videojuegos que van desde creacion artistica de visuales y 
                                audio hasta scripts logicos para funcionamiento de aplicacion en Unity 3D.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />